@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");

:root {
  --font-family: "Bellefair", serif;
  --font-family2: "Barlow Condensed", sans-serif;
  --color-bg: #0b0d17;
  --color-heading: #d0d6f9;
  --color-text: #fff;
}
